/*Google Font Style*/

.plus-jakarta-sans-body {
  font-family: "Plus Jakarta Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(219, 206, 13);
}

img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

/* form {
  height: 200px;
  width: 200px;
} */

.navbar {
  height: 4.5rem;
}

.fa-compass {
  color: #fe424d;
}

.nav-link {
  color: #222222 !important;
}

nav {
  z-index: 1;
  background-color: white;
}

.f-info-links,
.f-info-brand {
  text-decoration: none;
  color: #222222;
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  padding: 0 0.1rem 0 0.1rem;
  align-items: center;
  vertical-align: middle;
}
a {
  text-decoration: none !important;
  color: #222222;
}
a:hover {
  text-decoration: underline;
}

.f-info-social {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  width: 100%;
}

.f-info {
  text-align: center;
  height: 8rem;
  display: flex;
  background-color: #ebebeb;
  justify-content: center;
  flex-wrap: wrap;
  align-items: space-evenly;
  vertical-align: middle;
}

/* Cards */

.card {
  border: none !important;
  margin-bottom: 2rem;
  width: 22% !important;
  box-sizing: content-box !important;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-link {
  display: block !important; /* Makes the <a> behave like a block, taking full width */
  text-decoration: none; /* Removes underline */
  color: inherit; /* Keeps the text color same as normal */
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.btn {
  background-color: #fe424d !important;
  border: none !important;
}

.row {
  display: flex;
  justify-content: center;
}


