<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-6 offset-3">
        <form action="/signup" method="post" >
            <div>
                <label for="username" class="form-label">Username</label>
                <input
                  type="text"
                  class="form-control"
                  name="username"
                  id="username"
                  required
                />
                <div class="valid-feedback">That's look amazing</div>
              </div>

              <div>
                <label for="email" class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control"
                  name="email"
                  id="email"
                  required
                />
                <div class="valid-feedback">That's look Good</div>
              </div>

              <div>
                <label for="password" class="form-label">Username</label>
                <input
                  type="text"
                  class="form-control"
                  name="password"
                  id="password"
                  required
                />
                <div class="valid-feedback">That's look amazing</div>
              </div>
              <br>
              <button class="btn btn-success">Sign Up</button>
        </form>
        <br><br><br><br><br><br><br><br><br><br>
        <br>
    </div>
</div>